@charset "utf-8";
* {
    margin: 0;
    padding: 0;
    border: none;
    list-style: none;
    outline: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: normal;
}

img {
    border: none;
    margin: 0;
    padding: 0;
    vertical-align: bottom;
}

input[type="button"],
input[type="submit"],
input[type="reset"] {
    -webkit-appearance: none;
    outline: none;
}

a {
    text-decoration: none;
    color: #808080;
}

